<!DOCTYPE html>
<html>
  <head>
    <title>PracticeComfort</title>
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>

    <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_include_tag 'application', 'data-turbolinks-track': 'reload' %>
  </head>

  <body>
    <%= yield %>
    
    <p>test4</p>
  </body>
</html>



<p>コンフリクトを起こしてみよう</p>

<p>こずえ記入</p>
<p>test3のブランチで記入</p>

